body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #c37d92;
  font-family: 'Open Sans', sans-serif;
}

a:visited {
  text-decoration: none;
  color: #846267;
}

a:hover {
  text-decoration-color: none;
  color: #4e4e4e;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-welcome {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #4e4e4e;
}

.form-add-article {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #fff;
  padding: 2rem;
}

input {
  display: block;
  width: 80%;
}

.submit-btn {
  border: 0;
  background: #0d0221;
  padding: 0.5rem;
  color: #fff;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
}

.submit-btn:hover {
  background: #3f51b5;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
